// @import '../../../styles/variables.scss';

// .button-app {
//     transition-property: background-color, border-color, color, opacity;
//     transition-timing-function: ease;
//     transition-duration: .15s;

//     align-items: center;
//     background: transparent;
//     display: inline-flex;
//     flex: none;
//     flex-direction: row;
//     justify-content: center;
//     letter-spacing: .25px;
//     line-height: normal;
//     position: relative;
//     text-align: center;
//     text-decoration: none;
//     user-select: none;
//     appearance: button;
//     cursor: pointer;
//     outline: none;
//     transition: all .5s ease;
//     width: 100%;
// }

// .small {
//     font-size: 12px;
//     padding: 9px 26.6px;
//     min-height: 29px;
// }

// .medium {
//     font-size: 14px;
//     padding: 8.4px 30.8px;
//     min-height: 34px;
// }

// .large {
//     font-size: 16px;
//     padding: 9.4px 38.2px;
//     min-height: 39px;
// }

// .inline {
//     padding: 0;
//     min-height: 0;
//     background-color: transparent !important;
//     border: 0 !important;

//     &.primary {
//         color: $primary !important;
//     }

//     &.success {
//         color: $success !important;
//     }

//     &.warning {
//         color: $warning !important;
//     }

//     &.danger {
//         color: $danger !important;
//     }
// }

// .outlined{
//     background-color: transparent !important;

//     &.primary {
//         color: $primary !important;
//     }

//     &.success {
//         color: $success !important;
//     }

//     &.warning {
//         color: $warning !important;
//     }

//     &.danger {
//         color: $danger !important;
//     }
// }

// .primary {
//     background-color: $primary;
//     border: 1px solid $primary;
//     color: #fff;

//     &:hover {
//         background-color: transparent;
//         color: $primary;
//     }
// }

// .success {
//     background-color: $success;
//     border: 1px solid $success;
//     color: #fff;

//     &:hover {
//         background-color: transparent;
//         color: $success;
//     }
// }

// .warning {
//     background-color: $warning;
//     border: 1px solid $warning;
//     color: #fff;

//     &:hover {
//         background-color: transparent;
//         color: $warning;
//     }
// }

// .danger {
//     background-color: $danger;
//     border: 1px solid $danger;
//     color: #fff;

//     &:hover {
//         background-color: transparent;
//         color: $danger;
//     }
// }

@import '../../../styles/variables.scss';

.button-app {
    transition:
        background-color 0.15s ease,
        border-color 0.15s ease,
        color 0.15s ease,
        opacity 0.15s ease,
        all 0.5s ease;
    align-items: center;
    background: transparent;
    display: inline-flex;
    flex: none;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    appearance: button;
    cursor: pointer;
    outline: none;
    width: 100%;
}

.small {
    font-size: 12px;
    padding: 9px 26.6px;
    min-height: 29px;
}
.medium {
    font-size: 14px;
    padding: 8.4px 30.8px;
    min-height: 34px;
}
.large {
    font-size: 16px;
    padding: 9.4px 38.2px;
    min-height: 39px;
}

.inline {
    padding: 0;
    min-height: 0;
    background-color: transparent !important;
    border: 0 !important;

    &.primary {
        color: $primary !important;
    }
    &.success {
        color: $success !important;
    }
    &.warning {
        color: $warning !important;
    }
    &.danger {
        color: $danger !important;
    }
}

.outlined {
    background-color: transparent !important;

    &.primary {
        color: $primary !important;
    }
    &.success {
        color: $success !important;
    }
    &.warning {
        color: $warning !important;
    }
    &.danger {
        color: $danger !important;
    }
}

.primary,
.success,
.warning,
.danger {
    border: 1px solid;
    color: #fff;

    &:hover {
        background-color: transparent !important;
    }

    &.primary {
        background-color: $primary;
        border-color: $primary;
        &:hover {
            color: $primary;
        }
    }
    &.success {
        background-color: $success;
        border-color: $success;
        &:hover {
            color: $success;
        }
    }
    &.warning {
        background-color: $warning;
        border-color: $warning;
        &:hover {
            color: $warning;
        }
    }
    &.danger {
        background-color: $danger;
        border-color: $danger;
        &:hover {
            color: $danger;
        }
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.8;
    pointer-events: none;
}
