<div class="dialog-crud-container">
    <h2 mat-dialog-title class="crud-title">{{ crudTitle }}</h2>
    <mat-dialog-content class="crud-form-container">

        <ng-container *ngIf="data.menuTable == 'global'">
            <app-global-form [data]="data" (formValueChange)="getFormValue($event)"></app-global-form>
        </ng-container>

        <ng-container *ngIf="data.menuTable == 'payment-method-limit'">
            <app-payment-method-limit-form [data]="data" (formValueChange)="getFormValue($event)"></app-payment-method-limit-form>
        </ng-container>

        <ng-container *ngIf="data.menuTable == 'recipe-header'">
            <app-recipe-header-form [data]="data" (formValueChange)="getFormValue($event)"></app-recipe-header-form>
        </ng-container>

    </mat-dialog-content>
    <mat-dialog-actions class="crud-button-container">
        <button mat-button mat-dialog-close class="btn-g cancel-button">Cancel</button>
        <button mat-button class="btn-g confirm-button" (click)="submitForm()">Submit</button>
    </mat-dialog-actions>
</div>
