.dialog-crud-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::ng-deep .mat-mdc-select-panel-above {
        left: 392px !important;
    }
    .crud-title {
        font-weight: 500;
        border-bottom: 4px solid #A62B2B;
    }

    .crud-form-container {
        min-height: 250px;

        .form-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            .form-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 6px;
    
                input, textarea {
                    width: 100%;
                    border-radius: 6px;
                    border: 1px solid #D0D0D0;
                    padding: 8px;
                }

                input:focus, textarea:focus {
                    outline-color: #5d5d5d;
                }

                .select-form {
                    width: 100%;
                    height: 40px;
                    border-radius: 6px;
                    border: 1px solid #D0D0D0;
                    font-size: 14px;

                    ::ng-deep .mat-mdc-select-trigger {
                        padding: 8px;
                    }
                }

                input, select {
                    height: 40px;
                }

                textarea {
                    height: 100%;
                } 
            }
        }
    }

    .crud-button-container {
        gap: 8px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    }
}

::ng-deep .mdc-menu-surface {
    padding: 0px !important;
    background-color: #e7e7e7 !important;
    box-shadow: none !important;
    border-radius: 6px !important;
}