<mat-card appearance="outlined">
    <mat-card-header>
        <div class="row w-100">
            <div class="col">
                <mat-card-title>Home</mat-card-title>
            </div>
            <div class="col text-end">
                <div class="filter-field">
                    <mat-label for="pickerDateRange">
                        <!-- Date -->
                    </mat-label>
                    <mat-form-field>
                        <mat-date-range-input [formGroup]="selectedDateRange" [rangePicker]="pickerDateRange" disabled>
                            <input matStartDate formControlName="start" placeholder="Start date" />
                            <input matEndDate formControlName="end" placeholder="End date" />
                        </mat-date-range-input>

                        <mat-datepicker-toggle matIconSuffix [for]="pickerDateRange"
                            disabled="false"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerDateRange disabled="false"></mat-date-range-picker>
                        @if (
                        selectedDateRange.controls.start.hasError(
                        'matStartDateInvalid'
                        )
                        ) {
                        <mat-error>Invalid start date</mat-error>
                        }
                        @if (
                        selectedDateRange.controls.end.hasError(
                        'matEndDateInvalid'
                        )
                        ) {
                        <mat-error>Invalid end date</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-header>
    <hr />
    <mat-card-content>
        <div class="row">
            <div class="col-12 col-lg-6 p-4 text-center">
                <div class="chart-container" style="position: relative;">
                    <canvas #salesChart baseChart [data]="dataSales" [options]="salesBarChartOptions" [type]="'bar'">
                    </canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-4 text-center">
                <div class="chart-container" style="position: relative;">
                    <canvas #billChart baseChart [data]="dataBill" [options]="billBarChartOptions" [type]="'bar'">
                    </canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
