.login-container {
    border: none !important;
    border-radius: 8px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .custom-margin {
        margin: 3rem 2.5rem;
        gap: 10px;

        .logo-container {
            width: 250px;
        }

        .title {
            font-size: 22px;
        }
    }
}

.button-pass {
    background: transparent;
    border: 0;
    padding: 12px;
}

.footer-version {
    color: #2c384aae;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 0;
    text-align: center;
}

.box-error-message {
    padding: 8px 28px;
    border: 1px solid #d14747;
    border-radius: 30px;
    background: #d1474724;
    margin-bottom: 12px;

    p {
        margin: 0;
    }
}
