<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title> {{ headerTitle }}</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content>
        <!-- <div class="table-responsive">
            <table datatable class="row-border hover" [dtOptions]="dtOptions">
            </table>
        </div> -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm align-middle">
                <thead>
                    <tr class="align-middle text-center">
                        <th scope="col" rowspan="4">#</th>
                        <th scope="col" rowspan="4">REGION CODE</th>
                        <th scope="col" rowspan="4">AREA CODE</th>
                        <th scope="col" rowspan="4">TYPE</th>
                        <th scope="col" rowspan="4">OUTLET CODE</th>
                        <th scope="col" rowspan="4">OUTLET NAME</th>
                        <th scope="col" colspan="5">APPLICATION</th>
                    </tr>
                    <tr class="align-middle text-center">
                        <th scope="col" colspan="3">BOFFI</th>
                        <th scope="col" colspan="2">MPCS</th>
                    </tr>
                    <tr class="align-middle text-center">
                        <th scope="col">BE</th>
                        <th scope="col">FE</th>
                        <th scope="col">TIME</th>
                        <th scope="col">BE</th>
                        <th scope="col">FE</th>
                    </tr>
                    <tr class="align-middle text-center">
                        <th scope="col">{{ getVersionValue('BOFFI', 'BE') }}</th>
                        <th scope="col">{{ getVersionValue('BOFFI', 'FE') }}</th>
                        <th scope="col"></th>
                        <th scope="col">{{ getVersionValue('MPCS', 'BE') }}</th>
                        <th scope="col">{{ getVersionValue('MPCS', 'FE') }}</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngIf="appSvc.wsListOutlet?.length == 0" class="text-center">
                        <td colspan="11">No data</td>
                    </tr>
                    <tr *ngFor="let outlet of appSvc.wsListOutlet;let i = index;">
                        <td class="text-end">{{ i+1 }}</td>
                        <td class="text-end">{{ outlet.areaCode }}</td>
                        <td class="text-end">{{ outlet.regionCode }}</td>
                        <td>{{ outlet.type }}</td>
                        <th class="text-end pe-2">{{ outlet.outletCode }}</th>
                        <td>{{ outlet.outletName }}</td>
                        <td class="text-center">
                            <ng-container *ngIf="outlet.boffiBe === 'LOADING'">
                                <span class="badge rounded-pill text-bg-info">loading</span>
                            </ng-container>
                            <ng-container *ngIf="outlet.boffiBe === 'ERROR'">
                                <span class="badge rounded-pill text-bg-secondary">Invalid</span>
                            </ng-container>
                            <ng-container
                                *ngIf="outlet.boffiBe !== 'ERROR' && outlet.boffiBe !== 'LOADING'">
                                <span class="badge rounded-pill" [ngClass]="{
                                'text-bg-success': outlet.boffiBe === getVersionValue('BOFFI', 'BE'),
                                'text-bg-warning': outlet.boffiBe !== getVersionValue('BOFFI', 'BE')
                              }">
                                    {{ outlet.boffiBe }}
                                </span>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container
                                *ngIf="outlet.boffiFe !== 'ERROR' && outlet.boffiFe !== 'LOADING'">
                                <span class="badge rounded-pill" [ngClass]="{
                                'text-bg-success': outlet.boffiFe === getVersionValue('BOFFI', 'FE'),
                                'text-bg-warning': outlet.boffiFe !== getVersionValue('BOFFI', 'FE')
                              }">
                                    {{ outlet.boffiFe }}
                                </span>
                            </ng-container>
                        </td>
                        <td>{{ outlet.boffiTime }}</td>
                        <td>
                            <ng-container *ngIf="outlet.mpcsBe === 'LOADING'">
                                <span class="badge rounded-pill text-bg-info">loading</span>
                            </ng-container>
                            <ng-container *ngIf="outlet.mpcsBe === 'ERROR'">
                                <span class="badge rounded-pill text-bg-secondary">Invalid</span>
                            </ng-container>
                            <ng-container
                                *ngIf="outlet.mpcsBe !== 'ERROR' && outlet.mpcsBe !== 'LOADING'">
                                <span class="badge rounded-pill" [ngClass]="{
                                'text-bg-success': outlet.mpcsBe === getVersionValue('MPCS', 'BE'),
                                'text-bg-warning': outlet.mpcsBe !== getVersionValue('MPCS', 'BE')
                              }">
                                    {{ outlet.mpcsBe }}
                                </span>
                            </ng-container>

                        </td>
                        <td>
                            <ng-container
                                *ngIf="outlet.mpcsFe !== 'ERROR' && outlet.mpcsFe !== 'LOADING' && outlet.mpcsFe">
                                <span class="badge rounded-pill" [ngClass]="{
                                'text-bg-success': outlet.mpcsFe === getVersionValue('MPCS', 'FE'),
                                'text-bg-warning': outlet.mpcsFe !== getVersionValue('MPCS', 'FE')
                              }">
                                    {{ outlet.mpcsFe }}
                                </span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
