.menu-items-button {
    border: none;
    border-radius: 0px !important;
    background: transparent;

    ::ng-deep .mat-mdc-list-item-unscoped-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        background: none;
    }

    .icon-menu {
        color: #ffffff;
        font-size: 22px;
        width: auto;
        height: auto;
    }

    .menu-parent {
        color: #ffffff;
        font-weight: 400;
    }

    .button-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        color: #ffffff;
    }
}

.submenu {
    border-radius: 0px !important;

    .menu-child-items {
        border-radius: 0px !important;
    }

    ::ng-deep .mdc-list-item__primary-text {
        line-height: 2 !important;
    }

    .menu-child {
        color: #fff;
        padding-left: 37px;
    }

    ::ng-deep .mat-toolbar {
        background-color: #711e1e !important;
    }
}
