<ng-container *ngIf="isLoading">
    <div class="progress-container"> 
        <mat-spinner [ngClass]="['loading-spinner']"></mat-spinner>
    </div>
</ng-container>


<mat-sidenav-container class="mainWrapper blue_theme light-theme" autosize autoFocus dir="ltr">
    <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)="onSidenavClosedStart()"
    class="sidebarNav"
    >
        <app-sidebar (dataBreadCrumb)="getDataBreadCrumb($event)"></app-sidebar>
    </mat-sidenav>
  
    <mat-sidenav-content class="contentWrapper m-0">
        <main class="pageWrapper maxWidth">
            <app-navbar style="height: 9%;"></app-navbar>

            <!-- Breadcrumb -->
            <ng-container *ngIf="dataBreadcrumb">
                <div class="breadcrumb-container">
                <span class="breadcrumb-item">
                    {{ dataBreadcrumb.parentBreadcrumb }}
                </span>

                <ng-container *ngIf=" dataBreadcrumb.childBreadcrumb">
                    <mat-icon [ngStyle]="{'color':'#9E9E9E', 'width': '15px', 'height' : '15px', 'font-size' : '18px'}">keyboard_arrow_right</mat-icon>
        
                    <span class="breadcrumb-item">
                    {{ dataBreadcrumb.childBreadcrumb }}
                    </span>
                </ng-container>
        
                </div>
            </ng-container>

            
            <div class="m-t-30" style="height: 85%">
                <router-outlet></router-outlet>
            </div>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
