.dialog-confirmation-container {
    padding: 16px;
    
    .confirmation-title {
        text-transform: capitalize;
        font-weight: 500;
    }

    .confirmation-message {
        font-size: 16px;
    }

    .confirmation-button-container {
        gap: 10px;

        .confirmation-button {
            border: none;
            width: 120px;
            height: 40px;
            border-radius: 8px;
            font-size: 16px;
        }

        .cancel-button {
            background: #9DA5B1;
            color: #FFFFFF;
        }

        .cancel-button:hover {
            background: #FFFFFF;
            color: #000000;
            border: 1px solid #9DA5B1; 
        }

        .confirm-button {
            background: #2EB85C;
            color: #FFFFFF;
        }

        .confirm-button:hover {
            background: #FFFFFF;
            color: #2EB85C;
            border: 1px solid #2EB85C;
        }
    }
}