.dialog-confirmation-container {    
    .confirmation-title {
        text-transform: capitalize;
        font-weight: 500;
    }

    .confirmation-message {
        font-size: 16px;
        line-height: inherit;
    }

    .confirmation-button-container {
        gap: 10px;
    }

    h2.mat-mdc-dialog-title {
        margin: 0 !important;
        padding: 22px 18px;
        &::before {
            height: auto;
        }
    }
}