.dialog-confirmation-container {
    padding: 6px;
    
    .confirmation-title {
        text-transform: capitalize;
        font-weight: 500;
    }

    .confirmation-message {
        font-size: 16px;
        line-height: inherit;
    }

    .confirmation-button-container {
        gap: 10px;
        margin-top: 20px;
    }
}