.data-table-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 175px);
    background: #FFFFFF;
    border-radius: 10px;

    .data-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        width: 100%;
        background: #A62B2B;
        border-radius: 10px 10px 0px 0px;

        span {
            font-size: 20px;
            color: #FFFFFF;
        }

        .custom-search-form {
            margin: 16px 0px 0px 0px;

            ::ng-deep .mdc-text-field {
                border-radius: 8px !important;
                background-color: #FFFFFF !important;
            }
        }
    }

    .data-table-container {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        flex: 2;
        // height: 100%;

        ::ng-deep .dt-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            ::ng-deep .dt-layout-row:first-of-type {
                position: sticky;
                top: 0;
                width: 100%;
                background: white; 
                padding: 8px 16px;
                box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);

                ::ng-deep .dt-length {
                    label {
                      margin-left: 5px;
                      color: #8E8E8E;
                    }
                  
                    .dt-input {
                      border-radius: 0.375rem !important;
                    }
                  }
                  
                  ::ng-deep .dt-search {
                    label {
                      margin-right: 5px;
                      color: #8E8E8E;
                    }
                    
                    .dt-input {
                      border-radius: 0.375rem !important;
                    }
                  }
            }

            ::ng-deep .dt-layout-table {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;

                thead {
                    position: sticky;
                    top: 0;
                    background: #FFFFFF;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                    z-index: 1;
                }

                tbody {
                  font-size: 14px;

                  .badge-status {
                    background: #808080;
                    color: #fff;
                    display: inline-block;
                    text-align: center;
                    line-height: 1;
                    padding: 9px 9px;
                    width: 100%;
                    border-radius: 40px;
                
                    &__A {
                        background: #2EB85C !important;
                    }
                  }
                }

                .dropdown-action {
                    position: relative;
                    display: inline-block;
                  
                    .dropbtn {
                      background-color: transparent;
                      color: #4CAF50;
                      border-radius: 8px;
                      padding: 2px;
                      font-size: 14px;
                      cursor: pointer;
                      border: 2px solid #4CAF50;
                      width: 90px
                    }
                  
                    .dropdown-content {
                      display: none;
                      border-radius: 6px;
                      position: absolute;
                      background-color: #f9f9f9;
                      min-width: 160px;
                      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      z-index: 1;
                      right: 0;
                  
                      .action-button {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        background: white;
                        border-radius: 10px;
                        padding: 0px 10px;
                        border: none;
                        text-align: left;
                        height: 50px;
                        gap: 8px;
                        font-weight: 600;
                      }
                  
                      .action-button:hover {
                        background: #D8EAF9;
                        border-radius: 0px;
                      }
                  
                      a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        font-weight: 600;
                      }
                    }
                  }
                  
                  .dropdown-action:hover .dropdown-content {
                    display: block;
                  }
                  
                  .dropdown-action:hover .dropbtn {
                    color: #3e8e41;
                    border: 2px solid #3e8e41;
                  }
            }

            ::ng-deep .dt-layout-table::-webkit-scrollbar {
                width: 12px;
            } 

            ::ng-deep .dt-layout-table::-webkit-scrollbar-track {
                background: #F1F1F1;
            }
              
            ::ng-deep .dt-layout-table::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
                border: 3px solid #f1f1f1;
            }

            ::ng-deep .dt-layout-row:last-of-type {
                position: sticky;
                bottom: 0;
                width: 100%;
                background: white; /* Optional: to ensure the footer stands out */
                box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
                padding: 8px 16px;
                border-radius: 0px 0px 10px 10px;

                ::ng-deep .current {
                  border: none !important;
                  color: #FFFFFF !important;
                  background: #A62B2B !important;
                  border-radius: 300px;
                }

                ::ng-deep .dt-paging-button:hover {
                  background: #B3B3B3 !important;
                  border: none !important;
                  border-radius: 300px;
                }

                ::ng-deep .disabled:hover {
                  background: transparent!important;
                  border: none !important;
                  border-radius: 300px;
                }
            }
        }
          
        //   .dt-layout-row.dt-layout-table {
        //     flex: 1;
        //     overflow: auto;
        //     margin-top: 40px; /* Adjust margin to prevent overlap with the first row */
        //   }
          


        table {
            width: 100%;
            box-shadow: none !important;
        }
    }

    .data-table-container::-webkit-scrollbar {
        width: 12px;
    }
      
    .data-table-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
      
    .data-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    }
    
    .data-table-footer {
        position: sticky;
        bottom: 0;
        background: white;
        z-index: 0;
        box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .custom-paginator {
            border-radius: 0px 0px 10px 10px;
        }
    }
    
}
  
