<div class="data-table-wrapper">
  <div class="data-header-container">
    <span>{{ headerTitle }}</span>
    
    <div class="button-data-head-container">
      <button mat-button class="head-table-button filter-data-button" (click)="openFilter()">
        <i class="fa fa-filter"></i> 
        Filter
      </button> 
  
      <button mat-button class="head-table-button add-data-button" (click)="dialogAddNewData()">
        <i class="fa fa-plus"></i> 
        New Data
      </button>
    </div>
  </div>

  <ng-container *ngIf="isFilterVisible">
    <div class="filter-container">
      <ng-container *ngIf="menuTable == 'global'">
        <div class="filter-field">
          <mat-label for="condition">Condition</mat-label>
          <ng-select 
          class="select-filter" 
          [items]="condList" 
          bindLabel="cond" 
          [(ngModel)]="selectedCondition"
          (ngModelChange)="onFilterChange()"
          ></ng-select>
        </div>
      </ng-container>

      <div class="filter-field">
        <mat-label for="status">Status</mat-label>
        <ng-select 
        class="select-filter" 
        [items]="statusList" 
        bindLabel="name" 
        [(ngModel)]="selectedStatus"
        (ngModelChange)="onFilterChange()"></ng-select>
      </div>
    </div>
  </ng-container>


  <div class="data-table-container">   
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" (page.dt)="dtPageChange($event)" class="row-border hover"></table>
  </div>
</div>