.topbar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);
    justify-content: space-between;

    .user-profile-data {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .navbar-user-data {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 16px;
                color: #9e9e9e;
            }

            .separator {
                border-left: 2px solid #9e9e9e;
                height: 35px;
                margin: 12px;
            }
        }
    }

    .hide-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
    }

    .navbar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;

        .object-cover {
            object-fit: cover;
        }
    }

    .profile-container {
        min-width: 200px !important;
        margin-top: 10px !important;
    }
}

.profile-section {
    padding: 0 10px;

    .navbar-profile-logout-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        gap: 8px;
    }
}
