<form [formGroup]="form" class="form-content" #formRef="ngForm">
    <div class="form-item">
        <label for="recipeCode">Recipe Code</label>
        <input
            id="recipeCode"
            formControlName="recipeCode"
            type="text"
            (keypress)="onChangeInput($event, 'alphanumeric')"
            [ngClass]="{ 'form-disabled': IS_EDIT_MODE }"
            [disabled]="IS_EDIT_MODE"
            [readOnly]="IS_EDIT_MODE"
        />
    </div>

    <div class="form-item">
        <label for="recipeRemark">Recipe Remark</label>
        <input id="recipeRemark" formControlName="recipeRemark" />
    </div>

    <div class="form-item">
        <label for="mpcsGroup">MPCS Group</label>
        <input id="mpcsGroup" formControlName="mpcsGroup" />
    </div>

    <div class="form-item">
        <mat-label for="status">Status</mat-label>
        <mat-select
            class="select-form"
            id="status"
            name="status"
            formControlName="status"
        >
            <mat-option class="test" value="A">Active</mat-option>
            <mat-option value="I">Inactive</mat-option>
        </mat-select>
    </div>
</form>
